{% import '_includes/forms' as forms %}

{{
  forms.lightswitchField({
    onLabel: 'On',
    offLabel: 'Off',
    label: '<strong>AlertLink status</strong>',
    instructions: 'Enabling will display alerts (if there is any) on the site.',
    name: 'enabled',
    on: settings.enabled,
    first: true
  })
}}

<hr>

{{
  forms.textField({
    label: 'Alert Link URL',
    id: 'alertLinkUrl',
    name: 'alertLinkUrl',
    instructions: 'Set the Alert Link URL, e.g. <code>https://gateway-dev.quicktravel.com.au/alert-link</code>',
    required: true,
    value: (settings.alertLinkUrl is defined ? settings.alertLinkUrl : null)
  })
}}

{{
  forms.textField({
    label: 'Alert Link API Key',
    id: 'alertLinkApiKey',
    name: 'alertLinkApiKey',
    instructions: 'Set the Alert Link API KEY',
    required: true,
    value: (settings.alertLinkApiKey is defined ? settings.alertLinkApiKey : null)
  })
}}

<hr>

{{
  forms.textField({
    label: 'Alert Topic',
    id: 'alertTopic',
    name: 'alertTopic',
    instructions : 'Set the alert topic, e.g. bruny',
    required: false,
    value: (settings.alertTopic is defined ? settings.alertTopic : null)
  })
}}

{{
  forms.textField({
    label: 'Alert Name',
    id: 'alertName',
    name: 'alertName',
    instructions : 'Set the alert name to be fetched from Alert Link API, e.g. queue_length',
    required: false,
    value: (settings.alertName is defined ? settings.alertName : null)
  })
}}
